body {
  font-family: Arial;
  background:#f2f2f2;
  text-align: center;
}

.container {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 8px;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 10px;
}